In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

NHANES = pd.read_csv(r'C:\Users\malab\OneDrive\Documents\Notre Dame\Introduction to Data Science\Data Sets\NHANES.csv')
NHANES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20293 entries, 0 to 20292
Data columns (total 78 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                20293 non-null  int64
 1   SurveyYr          20293 non-null  object
 2   Gender            20293 non-null  object
 3   Age               20293 non-null  int64
 4   AgeMonths         10738 non-null  float64
 5   Race1             20293 non-null  object
 6   Race3             9756 non-null   object
 7   Education         11758 non-null  object
 8   MaritalStatus     11767 non-null  object
 9   HHIncome          18217 non-null  object
 10  HHIncomeMid       18217 non-null  float64
 11  Poverty           18457 non-null  float64
 12  HomeRooms         20148 non-null  float64
 13  HomeOwn           20156 non-null  object
 14  Work              13060 non-null  object
 15  Weight            19405 non-null  float64
 16  Length            2285 non-null   float64
 17  HeadCirc          474 non-null    float64
 18  Height            18035 non-null  float64
 19  BMI               18014 non-null  float64
 20  BMICatUnder20yrs  3355 non-null   object
 21  BMI_WHO           17947 non-null  object
 22  Pulse             14896 non-null  float64
 23  BPSysAve          14867 non-null  float64
 24  BPDiaAve          14867 non-null  float64
 25  BPSys1            14285 non-null  float64
 26  BPDia1            14285 non-null  float64
 27  BPSys2            14481 non-null  float64
 28  BPDia2            14481 non-null  float64
 29  BPSys3            14505 non-null  float64
 30  BPDia3            14505 non-null  float64
 31  Testosterone      6826 non-null   float64
 32  DirectChol        14835 non-null  float64
 33  TotChol           14834 non-null  float64
 34  UrineVol1         16083 non-null  float64
 35  UrineFlow1        14690 non-null  float64
 36  UrineVol2         2708 non-null   float64
 37  UrineFlow2        2697 non-null   float64
 38  Diabetes          19460 non-null  object
 39  DiabetesAge       1437 non-null   float64
 40  HealthGen         12449 non-null  object
 41  DaysPhysHlthBad   12431 non-null  float64
 42  DaysMentHlthBad   12426 non-null  float64
 43  LittleInterest    10508 non-null  object
 44  Depressed         10514 non-null  object
 45  nPregnancies      4202 non-null   float64
 46  nBabies           3939 non-null   float64
 47  Age1stBaby        3158 non-null   float64
 48  SleepHrsNight     13032 non-null  float64
 49  SleepTrouble      13058 non-null  object
 50  PhysActive        14278 non-null  object
 51  PhysActiveDays    7375 non-null   float64
 52  TVHrsDay          9065 non-null   object
 53  CompHrsDay        9074 non-null   object
 54  TVHrsDayChild     2228 non-null   float64
 55  CompHrsDayChild   2228 non-null   float64
 56  Alcohol12PlusYr   10303 non-null  object
 57  AlcoholDay        6993 non-null   float64
 58  AlcoholYear       8831 non-null   float64
 59  SmokeNow          5233 non-null   object
 60  Smoke100          11771 non-null  object
 61  SmokeAge          5049 non-null   float64
 62  Marijuana         7072 non-null   object
 63  AgeFirstMarij     3714 non-null   float64
 64  RegularMarij      3712 non-null   object
 65  AgeRegMarij       1820 non-null   float64
 66  HardDrugs         8641 non-null   object
 67  SexEver           8638 non-null   object
 68  SexAge            8136 non-null   float64
 69  SexNumPartnLife   8532 non-null   float64
 70  SexNumPartYear    7040 non-null   float64
 71  SameSex           8636 non-null   object
 72  SexOrientation    6847 non-null   object
 73  WTINT2YR          20293 non-null  float64
 74  WTMEC2YR          20293 non-null  float64
 75  SDMVPSU           20293 non-null  int64
 76  SDMVSTRA          20293 non-null  int64
 77  PregnantNow       2613 non-null   object
dtypes: float64(45), int64(4), object(29)
memory usage: 12.1+ MB

C:\Users\malab\AppData\Local\Temp\ipykernel_19624\1638427066.py:5: DtypeWarning: Columns (6,20,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  NHANES = pd.read_csv(r'C:\Users\malab\OneDrive\Documents\Notre Dame\Introduction to Data Science\Data Sets\NHANES.csv')

In [39]:
NHANES2 = NHANES[NHANES.Age > 18]
NHANES2 = NHANES2[["HardDrugs","RegularMarij","Age","AlcoholYear","BMI","Gender","HHIncomeMid","Weight","Height","SexNumPartnLife","TotChol"]]
NHANES2 = NHANES2.dropna()
NHANES2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3039 entries, 0 to 20288
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   HardDrugs        3039 non-null   object
 1   RegularMarij     3039 non-null   object
 2   Age              3039 non-null   int64
 3   AlcoholYear      3039 non-null   float64
 4   BMI              3039 non-null   float64
 5   Gender           3039 non-null   object
 6   HHIncomeMid      3039 non-null   float64
 7   Weight           3039 non-null   float64
 8   Height           3039 non-null   float64
 9   SexNumPartnLife  3039 non-null   float64
 10  TotChol          3039 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 284.9+ KB

In [142]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(NHANES2,train_size=.8,random_state=1842)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2431 entries, 4889 to 14342
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   HardDrugs        2431 non-null   object
 1   RegularMarij     2431 non-null   object
 2   Age              2431 non-null   int64
 3   AlcoholYear      2431 non-null   float64
 4   BMI              2431 non-null   float64
 5   Gender           2431 non-null   object
 6   HHIncomeMid      2431 non-null   float64
 7   Weight           2431 non-null   float64
 8   Height           2431 non-null   float64
 9   SexNumPartnLife  2431 non-null   float64
 10  TotChol          2431 non-null   float64
dtypes: float64(7), int64(1), object(3)
memory usage: 227.9+ KB

In [74]:
from sklearn.compose import ColumnTransformer, make_column_transformer, make_column_selector
from sklearn.preprocessing import OneHotEncoder
my_ct=make_column_transformer((OneHotEncoder(drop="if_binary"),["RegularMarij","Gender"]),remainder="passthrough")
train2=pd.DataFrame(my_ct.fit_transform(train))
train2.columns = ['RegularMarij','Gender','HardDrugs','Age','AlcoholYear','BMI','HHIncomeMid','Weight','Height','SexNumPartnLife','TotChol']
train2.head()

,RegularMarij,Gender,HardDrugs,Age,AlcoholYear,BMI,HHIncomeMid,Weight,Height,SexNumPartnLife,TotChol
0,1.0,0.0,Yes,28,12.0,24.53,7500.0,69.9,168.8,19.0,4.27
1,0.0,1.0,No,20,12.0,41.0,30000.0,128.3,176.9,10.0,4.06
2,1.0,1.0,Yes,47,208.0,27.9,100000.0,83.2,172.7,15.0,4.47
3,0.0,0.0,No,41,5.0,23.63,100000.0,61.7,161.6,6.0,4.53
4,0.0,0.0,Yes,52,1.0,37.39,22500.0,100.8,164.2,10.0,4.76

In [111]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [112]:
NHANES_X=NHANES2[["RegularMarij","Age","AlcoholYear","BMI","Gender","HHIncomeMid","Weight","Height","SexNumPartnLife","TotChol"]]
NHANES_y=NHANES2["HardDrugs"]

X_train,X_test,y_train,y_test=train_test_split(NHANES_X,NHANES_y,test_size=0.2,random_state=1842)

In [113]:
my_ct=make_column_transformer((OneHotEncoder(drop="if_binary"),["RegularMarij","Gender"]),remainder="passthrough")
X_train2=pd.DataFrame(my_ct.fit_transform(X_train))
X_train2.columns = ['RegularMarij','Gender','Age','AlcoholYear','BMI','HHIncomeMid','Weight','Height','SexNumPartnLife','TotChol']
X_train2.head()

,RegularMarij,Gender,Age,AlcoholYear,BMI,HHIncomeMid,Weight,Height,SexNumPartnLife,TotChol
0,1.0,0.0,28.0,12.0,24.53,7500.0,69.9,168.8,19.0,4.27
1,0.0,1.0,20.0,12.0,41.00,30000.0,128.3,176.9,10.0,4.06
2,1.0,1.0,47.0,208.0,27.90,100000.0,83.2,172.7,15.0,4.47
3,0.0,0.0,41.0,5.0,23.63,100000.0,61.7,161.6,6.0,4.53
4,0.0,0.0,52.0,1.0,37.39,22500.0,100.8,164.2,10.0,4.76

In [120]:
my_rsearch=RandomizedSearchCV(
    estimator=RandomForestClassifier(),
    param_distributions={"max_features":[2,3,4,5,6,7,8,9],"n_estimators":[200,300,800],"random_state":[1842]},
    cv=5, n_iter=6
  )

In [121]:
my_rsearch.fit(X_train2,y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=6,
                   param_distributions={'max_features': [2, 3, 4, 5, 6, 7, 8,
                                                         9],
                                        'n_estimators': [200, 300, 800],
                                        'random_state': [1842]})

In [122]:
my_results=pd.DataFrame(my_rsearch.cv_results_)
my_results[["param_max_features","param_n_estimators","mean_test_score","rank_test_score"]]

  param_max_features param_n_estimators  mean_test_score  rank_test_score
0                  3                200         0.705886                3
1                  9                200         0.699717                6
2                  5                300         0.702184                4
3                  2                300         0.705887                2
4                  4                800         0.702184                4
5                  3                300         0.707120                1

In [119]:
#The param_max_features is the maximum number of features the randomized search chose to allow in each individual tree 
#in the Random Forest.
#The param_n_estimators represents the number of trees used in each iteration of the randomized search.
#The mean_test_score represents how well the resulting model does at predicting the y value (HardDrugs).
#Finally, the rank_test_score ranks out how well each randomized search did compared to each other.

In [126]:
X_test2=pd.DataFrame(my_ct.fit_transform(X_test))
X_test2.columns = ['RegularMarij','Gender','Age','AlcoholYear','BMI','HHIncomeMid','Weight','Height','SexNumPartnLife','TotChol']

my_best = my_rsearch.best_estimator_

In [128]:
from sklearn.metrics import confusion_matrix
preds=my_best.predict(X_test2)
confusion_matrix(y_test,preds)

array([[369,  45],
       [120,  74]], dtype=int64)

In [131]:
my_ct2 = make_column_transformer((OneHotEncoder(drop="if_binary"),["RegularMarij","Gender"]),(MinMaxScaler(), ["Age","AlcoholYear","BMI","HHIncomeMid","Weight","Height","SexNumPartnLife","TotChol"]),remainder="passthrough")

In [135]:
X_train2=pd.DataFrame(my_ct2.fit_transform(X_train))
X_train2.columns = ['RegularMarij','Gender','Age','AlcoholYear','BMI','HHIncomeMid','Weight','Height','SexNumPartnLife','TotChol']
X_train2.head()

,RegularMarij,Gender,Age,AlcoholYear,BMI,HHIncomeMid,Weight,Height,SexNumPartnLife,TotChol
0,1.0,0.0,0.225,0.032967,0.197292,0.051282,0.172880,0.436019,0.019,0.327360
1,0.0,1.0,0.025,0.032967,0.494585,0.282051,0.488385,0.563981,0.010,0.302270
2,1.0,1.0,0.700,0.571429,0.258123,1.000000,0.244733,0.497630,0.015,0.351254
3,0.0,0.0,0.550,0.013736,0.181047,1.000000,0.128579,0.322275,0.006,0.358423
4,0.0,0.0,0.825,0.002747,0.429422,0.205128,0.339816,0.363349,0.010,0.385902

In [136]:
X_test2=pd.DataFrame(my_ct2.transform(X_test))
X_test2.columns = ['RegularMarij','Gender','Age','AlcoholYear','BMI','HHIncomeMid','Weight','Height','SexNumPartnLife','TotChol']

In [137]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
my_grid=GridSearchCV(
    estimator=KNeighborsClassifier(),
    param_grid={"n_neighbors":[3,5,7,9,11,13,15]},cv=5)
my_grid.fit(X_train2,y_train)
my_results=pd.DataFrame(my_grid.cv_results_)
my_results[["param_n_neighbors","mean_test_score","rank_test_score"]].sort_values("rank_test_score")

  param_n_neighbors  mean_test_score  rank_test_score
5                13         0.694367                1
4                11         0.691077                2
6                15         0.685317                3
3                 9         0.682439                4
2                 7         0.677912                5
1                 5         0.667633                6
0                 3         0.650357                7

In [140]:
my_best2 = my_grid.best_estimator_

In [141]:
preds2=my_best2.predict(X_test2)
confusion_matrix(y_test,preds2)

array([[353,  61],
       [128,  66]], dtype=int64)